<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>AngularJS Tutorials - Template URL</title>
	<link rel="stylesheet" href="css/foundation/foundation.css" />
</head>

<body>
	<div ng-app="myApp">
		<script type="text/ng-template" id="zippy.html" >
			<div><h4 ng-click='toggleContent()'>{{title}}</h4>
				<div ng-show='isContentVisible' ng-transclude></div>
			</div>
		</script>
		<input type="text" ng-model="model.title">
		<input type="text" ng-model="model.content">
		<zippy title ="{{model.title}}">The content is: {{model.content}}</zippy>
	</div> 
	<script src="js/angularjs/angular.js" ></script>
	<script src="js/main13.js"></script>
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
	':35829/livereload.js?snipver=2"></' + 'script>')</script>

</body>

</html>
